.dragSortList {
  overflow: auto;
  position: relative;
}

.dragSortList.-isExpanded {
  padding-top: 25px;
}


.dragSortList.-isExpanded.-isDraggingOver:before {
  content: '🡢';
  position: absolute;
  line-height: 25px;
  top: 0;
  left: 0;
  z-index: 2;
}

.dragSortItem {
  position: relative;
}

.dragSortItem[draggable], .dragSortItem [draggable] {
  cursor: move;
  cursor: hand;
  cursor: -webkit-grab;
  cursor: grab;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.dragSortItem.-isDragged {
  display: none;
}

.dragSortItem.-placeholderAbove {
  /*margin-top: 25px;*/
  padding-top: 25px;
}

.dragSortItem.-placeholderBelow {
  /*margin-bottom: 25px;*/
  padding-bottom: 25px;
}

.dragSortItem.-placeholderAbove:before,
.dragSortItem.-placeholderBelow:before {
  content: '🡢';
  position: absolute;
  line-height: 25px;
  left: 0;
}

.dragSortItem.-placeholderAbove:before {
  /*bottom: 100%;*/
  top: 0;
}

.dragSortItem.-placeholderBelow:before {
  /*top: 100%;*/
  bottom: 0;
}
