.dragSortList {
  overflow: auto;
  position: relative;
}

.dragSortList.-isExpanded {
  padding-top: 25px;
}


.dragSortList.-isExpanded.-isDraggingOver:before {
  content: '🡢';
  position: absolute;
  line-height: 25px;
  top: 0;
  left: 0;
  z-index: 2;
}

.dragSortItem {
  position: relative;
}

.dragSortItem[draggable], .dragSortItem [draggable] {
  cursor: move;
  cursor: hand;
  cursor: -webkit-grab;
  cursor: grab;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.dragSortItem.-isDragged {
  display: none;
}

.dragSortItem.-placeholderAbove {
  /*margin-top: 25px;*/
  padding-top: 25px;
}

.dragSortItem.-placeholderBelow {
  /*margin-bottom: 25px;*/
  padding-bottom: 25px;
}

.dragSortItem.-placeholderLeft {
  padding-left: 15px;
}

.dragSortItem.-placeholderRight {
  padding-right: 15px;
}

.dragSortItem.-placeholderAbove:before,
.dragSortItem.-placeholderBelow:before,
.dragSortItem.-placeholderLeft:before,
.dragSortItem.-placeholderRight:before {
  content: '🡢';
  position: absolute;
  line-height: 25px;
  left: 0;
}

.dragSortItem.-placeholderAbove:before {
  /*bottom: 100%;*/
  top: 0;
}

.dragSortItem.-placeholderBelow:before {
  /*top: 100%;*/
  bottom: 0;
}

.dragSortItem.-placeholderLeft:before,
.dragSortItem.-placeholderRight:before {
  text-align: center;
  width: 15px;
}

.dragSortItem.-placeholderLeft:before {
  /* right: 100%; */
  left: 0;
}

.dragSortItem.-placeholderRight:before {
  /* left: 100%; */
  left: auto;
  right: 0;
}

.dragSortList.-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dragSortList.-horizontal .dragSortItem.-placeholderAbove:before,
.dragSortList.-horizontal .dragSortItem.-placeholderBelow:before {
  display: none;
}

.dragSortList.-horizontal .dragSortItem.-placeholderAbove {
  padding-top: 0;
}

.dragSortList.-horizontal .dragSortItem.-placeholderBelow {
  padding-bottom: 0;
}

.dragSortList.-horizontal .dragSortItem.-isDragged {
  display: none;
}

.dragSortList.-vertical .dragSortItem.-placeholderLeft:before,
.dragSortList.-vertical .dragSortItem.-placeholderRight:before {
  display: none;
}

.dragSortList.-vertical .dragSortItem.-placeholderLeft {
  padding-left: 0;
}

.dragSortList.-vertical .dragSortItem.-placeholderRight {
  padding-right: 0;
}
