<p class = "nestedItem-title">
  {{item.name}}
</p>

{{#drag-sort-list
  items               = item.children
  group               = group
  dragEndAction       = dragEndAction
  as |child|
}}
  {{nested-item
    item          = child
    group         = group
    dragEndAction = dragEndAction
  }}
{{/drag-sort-list}}
