<p class = "nestedItem-title">
  {{item.name}}
</p>

{{#drag-sort-list
  items               = item.children
  group               = group
  dragEndAction       = dragEndAction
  isHorizontal        = isHorizontal
  isRtl               = isRtl
  as |child|
}}
  {{nested-item
    item          = child
    group         = group
    dragEndAction = dragEndAction
    isHorizontal  = isHorizontal
    isRtl         = isRtl
  }}
{{/drag-sort-list}}
