html, body {
  font-family: sans-serif;
}

p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child
{
  margin-top: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child
{
  margin-bottom: 0;
}

.list-group {
  display: flex;
}

.list {
  width: 200px;
  margin-right: 20px;
}

.list-group .dragSortList {
  background-color: #eee;
}

.the-item {
  margin: 4px;
  padding: 0.2em 0.5em;
  background-color: deeppink;
  color: white;
  font-weight: bold;
}

.dragSortList {
  /*border: 1px solid black;*/
}
.dragSortItem.-isDraggingOver {
  /*font-weight: bold;*/
}

.nestedItem {
  margin: 4px;
  padding: 1em;
  border: 1px solid black;
  position: relative;
  display: flex;
}

.nestedItem-title {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100px;
}

.nestedItem .dragSortList {
  flex-shrink: 0;
  flex-grow: 1;
}

.nestedItem .dragSortList.-isExpanded {
  padding-top: 55px;
}

.nestedItem .dragSortList.-isDragging {
  outline: 2px dashed black;
  background-color: deepskyblue;
}

.nestedItem .dragSortList.-isExpanded.-isDraggingOver:before {
  top: 15px;
}

/* Semi-transparent background */
.nestedItem:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*z-index: -1;*/
  background-color : deeppink;
  opacity: 0.2;
  pointer-events: none;
}
