.github-fork-ribbon {
  position: fixed !important;
}

html, body {
  font-family: sans-serif;
}

h4 {
  margin-bottom: 10px;
}

p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child
{
  margin-top: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child
{
  margin-bottom: 0;
}

.list-groups {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  margin-right: -100px;
  margin-bottom: -100px;
}

.list-groups .list-group-wrapper {
  margin-right: 100px;
  margin-bottom: 100px;
}

.list-group-wrapper {
  flex-grow: 1;
  flex-basis: 600px;
  margin-bottom: 30px;
}

.list-group {
  display: flex;
}

.list {
  width: 200px;
  margin-right: 20px;
}

.list-group .dragSortList {
  background-color: #eee;
}

.horizontal-list {
  width: 400px;
}

.dragSortItem {
  overflow: auto;
}

.the-item {
  border: 1px solid black;
  margin: 4px;
  padding: 0.2em 0.5em;
  background-color: #FFD0E9;
}

.nestedItem {
  margin: 4px;
  padding: 1em;
  border: 1px solid black;
  display: flex;
}

.nestedItem-title {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100px;
}

.nestedItem .dragSortList {
  flex-shrink: 0;
  flex-grow: 1;
}

.nestedItem .dragSortList.-isExpanded:not(.-isEmpty),
.nestedItem .dragSortList.-isExpanded.-isDraggingOver {
  padding-top: 60px;
}

.nestedItem .dragSortList.-isDragging {
  outline: 2px dashed black;
  background-color: deepskyblue;
}

.nestedItem .dragSortList.-isExpanded.-isDraggingOver:before {
  top: 18px;
}

.nestedItem {
  background-color : #FFD0E9;
}
.nestedItem .nestedItem {
  background-color: #FFAAD7;
}

.nestedItem .nestedItem .nestedItem {
  background-color: #FF8CC9;
}
.nestedItem .nestedItem .nestedItem .nestedItem {
  background-color: #FF74BD;
}
.nestedItem .nestedItem .nestedItem .nestedItem .nestedItem {
  background-color: #FF60B4;
}
.nestedItem .nestedItem .nestedItem .nestedItem .nestedItem .nestedItem {
  background-color: #FF50AD;
}

.dragSortList:not(.-draggingEnabled) {
  opacity: 0.66;
}

/* Table styles */
table {
  width: 100%;
}

table.dragSortList.-isExpanded {
  padding: 15px;
  background-color: #f6f6f6;
}

table.dragSortList.-isExpanded.-isDraggingOver {
  background-color: #eee;
}

table.dragSortList.-isExpanded.-isDraggingOver:before {
  content: none;
}

tr.dragSortItem.-placeholderBefore:before,
tr.dragSortItem.-placeholderAfter:before {
  content: none;
}

tr.dragSortItem.-placeholderBefore td {
  padding-top: 25px;
}

tr.dragSortItem.-placeholderAfter td {
  padding-bottom: 25px;
}

table .the-item {
  margin: 0;
}
