{{#vertical-collection
    items
    estimateHeight=estimateHeight
    staticHeight=false
    renderAll=lazyRenderDisabled as |item index|
}}
  <div>
    {{#drag-sort-item
      additionalArgs                 = additionalArgs
      item                           = item
      index                          = index
      items                          = items
      group                          = group
      handle                         = handle
      class                          = childClass
      tagName                        = childTagName
      isHorizontal                   = isHorizontal
      isRtl                          = isRtl
      draggingEnabled                = draggingEnabled
      dragEndAction                  = dragEndAction
      determineForeignPositionAction = determineForeignPositionAction
    }}
      {{yield item index}}
    {{/drag-sort-item}}
  </div>
{{/vertical-collection}}
